.pushupLvls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.pushupButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}