.navigation {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    
    
}

a {
    text-decoration: none;
    color:black
}